.blockSectionWrapper {
    /*background-color: #F6F8F7;*/
}
.blockSection {
    max-width: 1008px;
    margin: 0 auto;
    /*padding: 2rem 2rem;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box {
    flex: 0 0 33.3333%;
    text-align: center;
    padding: 1.5rem;
}
.blockTitle {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}
.blockTitle h1 {
    margin-top: 0px;
}

@media (max-width: 1250px) {
    .blocksSection {
        padding: 2rem 1rem;
    }
    .box {
        flex: 0 0 50%;
    }
}

@media (max-width: 750px) {
    .box {
        flex: 0 0 100%;
    }
}