.blockAchievementsWrapper {

}

.achievementsInner {
    max-width: 1200px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.achievementsList {
    position: relative;
    width: 66%;
}

.achievementsDescription {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.achievementsDescription > div {
    margin: 1rem;
}

.achievementItemWrapper {
    width: 380px;
}

.achievementItem {
    /*padding: 3rem 2rem 0 0;*/
}

.achievementItemInner {
    padding: 2rem 0 2.5rem 2rem;
    box-shadow: 0px 9px 15px -3px rgba(0,0,0,0.27);
    -webkit-box-shadow: 0px 9px 15px -3px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 9px 15px -3px rgba(0,0,0,0.27);
}

.achievementValue {
    color: #292E3D;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 100%;
}

.achievementTitle {
    color: #667299;
    font-size: 1.5rem;
    line-height: 100%;
    margin: 15px 0 0 12px;
    border-left: 8px solid #F9995D;
    padding-left: 12px;
}

.grip::before {
    content: url("/public/images/handsShaking.svg");
    position: absolute;
    right: -3rem;
    top: -4rem;
}
.grip {
    width: 300px;
    position: absolute;
    top: 3.5rem;
    right: 4rem;
    z-index: 5;
    background: white;
}

.projects::before {
    content: url("/public/images/projectsCompleted.svg");
    position: absolute;
    left: -2rem;
    top: -3rem;
}
.projects {
    width: 330px;
    position: absolute;
    top: 12.5rem;
    left: 3.5rem;
    z-index: 1;
    background: white;
}

.years::before {
    content: url("/public/images/years70.svg");
    position: absolute;
    right: -2rem;
    top: -2.5rem;
}
.years {
    width: 300px;
    position: absolute;
    top: 22rem;
    right: 6rem;
    z-index: 2;
    background: white;
}

.offices {
    width: 340px;
    position: absolute;
    top: 30rem;
    left: 5.5rem;
}
.offices::after {
    content: url("/public/images/officeAddressIcon.svg");
    width: 85px;
    position: absolute;
    right: -2rem;
    bottom: -2rem;
}

.descTitle {
    color: #2947A9;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 125%;
}

.descText {
    color: #525B7A;
    font-size: 1.2rem;
}


@media (max-width: 900px) {
    .blockAchievementsWrapper {
        padding: 1rem !important;
    }
    .achievementsInner {
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 1100px;
    }

    .achievementsList {
        width: 100%;
    }

    .achievementsDescription {
        width: 100%;
    }

    .offices {
        top: 31rem;
    }
}