.catBlockSection {
    background: url("/public/images/scaffolding.jpg") no-repeat center bottom;
    background-size: cover;
}

.ctaBlockWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(63,63,63,0.8);
    padding: 1rem;
}

.ctaBlockInner {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.ctaBlockLeft {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
}

.ctaBlockLeft > div {
    padding: 5px 0;
}

.ctaBlockTitle {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.ctaBlockDescription {
    color: white;
    font-size: 1.5rem;
}

.ctaButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ctaButton a {
    text-decoration: none;
    padding: 1rem 2.5rem;
    color: white;
    border: 2px solid white;
    max-width: 240px;
}

.ctaButton a:hover {
    background-color: #7b7b7c;
    transition: background-color 0.3s ease;
}

@media (max-width: 900px) {
    .ctaBlockInner {
        flex-direction: column;
    }
    .ctaBlockLeft {
        height: 200px;
    }
    .ctaButton {
        margin-bottom: 3rem;
    }
}