footer {
    background-color: white;
    padding: 5rem 0 0 0;
    border-top: 1px solid #E0E3EB;
}

.footerBottomLine {
    background-color: #3559C7;
}

.footerBottomLineInner {
    max-width: calc(1200px + 1rem);
    padding: 0 1rem;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 0 auto;
}

.footerLogo {
    width: 250px;
}

.footerLogo img {
    margin-left: -15px;
}

.footerInner {
    max-width: calc(1200px + 1rem);
    padding: 0 1rem 4rem 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footerItem {
    margin-bottom: 1.5rem;
}

.phones {
    display: inline-flex;
}

.footerItemLabel {
    text-transform: uppercase;
    color: #2947A9;
    font-size: 1rem;
    font-weight: 600;
    width: 125px;
    display: inline-block;
}

.footerItemText {
    color: #292E3D;
    font-size: 1rem;
}

.footerItemSocialLinks {
    display: flex;
    margin-top: 4px;
}

.footerItemSocialLinks a {
    display: inline-flex;
    width: 35px;
    margin-right: 10px;
}

.socialIcons {
    display: flex;
    margin-bottom: 2rem;
}

.socialIcons .footerItemLabel {
    padding-top: 10px;
}

.footerLeft {
    width: 50%;
}

.footerRight {
    width: 50%;
}

.footerRight .footerItemLabel {
    width: 100%;
    padding-bottom: 10px;
}

.footerMap {
    border: 4px solid grey;
    border-radius: 4px;
}

@media (max-width: 900px) {
    .footerInner {
        flex-direction: column;
    }

    .footerLeft {
        width: 100%;
    }

    .footerRight {
        display: none;
    }
}