/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
    /*padding: 0;*/
    /*margin: 0;*/
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

.pageSection {
    max-width: 960px;
    margin: 0 auto;
}

.section {
    padding: 2rem 0 3rem 0;
}

.section.grey {
    background-color: #F6F8F7;
}

.section.white {
    background-color: #ffffff;
}

header a:visited {
    color: #282c34;
}

header a.active {
    color: #2947A9;
    border-bottom: 3px solid #2947A9;
}

a.btn {
    margin-top: 1rem;
    border-radius: 3px;
    display: inline-block;
    padding: .5rem 2rem;
    background-color: #2947A9;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
a.btn:hover {
    background-color: #5b7dde;
    transition: background-color 0.3s ease;
}