header {
    border-bottom: 1px solid #E0E3EB;
}

#headerTop {
    background-color: #3559C7;
    color: white;
    padding: 1rem 2rem;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.HeaderTopText,
.HeaderTopPhones {
    font-size: 1rem;
    font-weight: 500;
}

.HeaderTopHiring {
    font-size: 1.5rem;
    font-weight: 700;
    color: yellow;
    line-height: 100%;
}

@media (max-width: 900px) {
    #headerTop {
        flex-direction: column;
        justify-content: space-around;
        height: 120px;
    }

    .HeaderTopHiring {
        font-size: 1rem;
    }
}