.heroSection {
    background: url("/public/images/scaffolding.jpg") no-repeat center;
    height: 600px;
    overflow: hidden;
    background-size: cover;
}
.heroContainerWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,  rgba(66,108,136,0.45) 0%,rgba(63,76,107,0.45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.heroContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: white;
}
.heroTitle {
    font-size: 3.5rem;
    font-weight: 700;
}
.heroDescription {
    font-size: 1.5rem;
}
.heroCta {
    margin-top: 1rem;
    border-radius: 3px;
    display: inline-block;
    padding: .5rem 2rem;
    background-color: #2947A9;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.heroCta:hover {
    background-color: #5b7dde;
}