#mainMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarTitle {

}
.navbarLinks ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbarLinks li {
    list-style-type: none;
    padding: 1rem;
    font-size: 1.1rem;
}

.navbarLinks li a {
    text-decoration: none;
    /*padding: 1rem;*/
    display: block;
}

.toggleButton {
    position: absolute;
    top: 10.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggleButton .bar {
    height: 3px;
    width: 100%;
    background-color: #282c34;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggleButton {
        display: flex;
    }
    .navbarLinks {
        display: none;
        width: 100%;
    }
    #mainMenu {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbarLinks ul {
        width: 100%;
        flex-direction: column;
    }
    .navbarLinks li {
        width: 100%;
        text-align: center;
    }
    .navbarLinks li a {
        padding: .5rem 1rem;
    }
    .navbarLinks.active {
        display: flex;
    }
}