.PageErrors {
    text-align: center;
}

.errorNumber {
    color: #1188b1;
    font-weight: bold;
    font-size: 12rem;
    line-height: 1;
}

.errorTitle {
    margin: 0 0 2rem 0;
    font-size: 3rem;
    color: #525B7A;
}

.serviceText {
    padding: 0 0 2rem 0;
    text-align: center;
    font-size: 1rem;
    color: #525B7A;
}

.page404 {

}