h1, h2, h3, h4 {
    margin: 2rem 0 1rem 0;
    color: #000000;
}

.pageTitle {
    margin: 2rem 0 1rem 0;
}

.sectionH4 {
    padding: 0 0 1rem 1rem;
    color: #1188b1;
}

.section {
    max-width: calc(1000px + 1rem);
    margin: 0 auto 4rem auto;
    padding: 0 1rem;
    color: #525B7A;
    font-size: 1.2rem;
    line-height: 1.75;
}

.pageInner {

}