.internalBlockItemWrapper {
    background-color: #ffffff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.internalBlockItem {
    position: relative;
    height: 150px;
    text-align: center;
}

.internalBlockItemWrapper:hover {
    background-color: #2947A9;
}

.blockTitle {
    position: absolute;
    bottom: 0;
    padding: 0 0 1rem 0;
    width: 100%;
    color: #2947A9;
    font-weight: bold;
}

.internalBlockItemWrapper:hover .blockTitle{
    color: #ffffff;
}

.divider {
    width: 60px;
    height: 2px;
    margin: 0 auto 0.8rem auto;
    background-color: #E0E3EB;
}

.construction {
    background:
            url("/public/images/construction.svg") no-repeat,
            url("/public/images/blueRectangle.svg") no-repeat;
    background-position:
            center top 2rem,
            left 49% top 3rem;
}

.renovation {
    background:
            url("/public/images/renovation.svg") no-repeat,
            url("/public/images/blueRectangle.svg") no-repeat;
    background-position:
            center top 2rem,
            left 49% top 3rem;
}

.consultation {
    background:
            url("/public/images/consultation.svg") no-repeat,
            url("/public/images/blueRectangle.svg") no-repeat;
    background-position:
            center top 2rem,
            left 49% top 3rem;
}

.internalBlockItemWrapper:hover .construction{
    background:
            url("/public/images/constructionWhite.svg") no-repeat,
            url("/public/images/blueRectangle.svg") no-repeat;
    background-position:
            center top 2rem,
            left 49% top 3rem;
}

.internalBlockItemWrapper:hover .renovation {
    background:
            url("/public/images/renovationWhite.svg") no-repeat,
            url("/public/images/blueRectangle.svg") no-repeat;
    background-position:
            center top 2rem,
            left 49% top 3rem;
}

.internalBlockItemWrapper:hover .consultation {
    background:
            url("/public/images/consultationWhite.svg") no-repeat,
            url("/public/images/blueRectangle.svg") no-repeat;
    background-position:
            center top 2rem,
            left 49% top 3rem;
}
